@charset "UTF-8";
 body { background: #f8f9fa; }
        .container-box {
            display: flex;
            flex-direction: row;
            margin-top: 32px;
            max-width: 1100px;
        }
        
        .write-box {
            flex: 1; background: #fff; border-radius: 12px;
            padding: 32px 36px; box-shadow: 0 2px 8px rgba(0,0,0,0.03); border: 1px solid #ececec;
        }
        .form-label { font-weight: 500; }
        .form-control, .form-control-file { margin-bottom: 18px; }
        .btn-submit { width: 100%; padding: 10px 0; font-weight: 600; }

        #category.form-select {
            margin-bottom: 22px;
        }
        .btn-submit {
            border: 2px solid #1e8a57 !important;
            color: #fff !important;
            box-shadow: 5px 5px 5px darkgray;
}



        @media (max-width: 768px) {
            .container-box { flex-direction: column; max-width: 100%; }
            .left-box{display: none;}
            .write-box { padding: 18px 3vw; }
        }