<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.file.service.impl.FileMapper">

    <insert id="insertFile" parameterType="FileVO">
        <selectKey keyProperty="fileId" resultType="long" order="BEFORE">
            SELECT FILE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO UPLOAD_FILE (
            FILE_ID, FILE_NAME, FILE_PATH, FILE_TYPE, USE_TYPE, USE_TARGET_ID,
            USE_POSITION, UPLOAD_DATE, UPLOADER_ID, FILE_DATA
        ) VALUES (
            #{fileId}, #{fileName}, #{filePath}, #{fileType}, #{useType}, #{useTargetId},
            #{usePosition}, SYSDATE, #{uploaderId}, #{fileData, jdbcType=BLOB}
        )
    </insert>

    <select id="selectFileById" parameterType="long" resultType="FileVO">
        SELECT * FROM UPLOAD_FILE WHERE FILE_ID = #{fileId}
    </select>

    <select id="selectFilesByBoardId" parameterType="long" resultType="FileVO">
        SELECT * FROM UPLOAD_FILE WHERE USE_TYPE = 'BOARD' AND USE_TARGET_ID = #{boardId}
    </select>
</mapper>
