<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.mypage.service.impl.MypageMyPostMapper">

    <select id="selectMyPosts" parameterType="java.lang.Long" resultType="egovframework.example.mypage.service.MypageMyPostVO">
        SELECT
            b.BOARD_ID     AS boardId,
            b.TITLE        AS title,
            b.CATEGORY     AS category,
            b.WRITE_DATE   AS writeDate,
            b.THUMBNAIL    AS thumbnail
        FROM
            BOARD b
        WHERE
            b.WRITER_IDX = #{memberIdx}
        ORDER BY
            b.WRITE_DATE DESC
    </select>

</mapper>