<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.example.recipe.service.impl.RecipeMapper">

<select id="selectRecipe"
			 parameterType="String"
			 resultType="egovframework.example.recipe.service.RecipeVO">
			 
			 SELECT * FROM API_RECIPE
			 WHERE RECIPE_ID = #{recipeId}
</select>

</mapper>
